fastapi
uvicorn
langchain
langchain-groq
langchain-community
langchain-core
langchain-text-splitters
beautifulsoup4
faiss-cpu
langchain-huggingface
sentence-transformers
python-dotenv
pydantic
requests
lxml
sqlalchemy
psycopg2-binary
pg8000
bcrypt
groq
